* {
    background-color: grey;
    font-family: sans-serif;
    box-sizing: border-box;
}
.my_photos img {
    transition: 3s;
    padding: 10px;
    width: 200px;
}
#wrapper {
    width: 1000px; margin: 0 auto;
}
.cool {
    font-family: fantasy;
    margin: 5px;
}
.mainp {
    border-width: thick;
    border-style: red;
    padding: 1px;
    margin: 20px;
    border: solid black;
    text-align: center;
}




















/* * {
    box-sizing: border-box;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: grey;
    font-family: sans-serif;
}
header {
    background-color: orange;
    position: fixed;
}
body {
    display: flex;
    flex-direction: column;
}
p.p1 {
    width: 200;
    height: 40;
    padding: 1px;
}


}


}
blockquote {
    display: block;
    margin-top: 5em;
    
}
nav {
    float: right;
    line-height: 100px;
}
nav a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 10px;
    color: #fff;
} */
